html {
    margin: 0px;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid black;
    border-radius: 8px;
    align-items: center;
    padding: 1em;;
}

.topic {
    color: #5D5FEF;
    width: 303px;
    height: 37px;
    left: 36px;
    top: 120px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

header {
    background-color: #5D5FEF;
    width: fit-content;
    padding: 1em;
}

input {
    width: 343px;
    height: 56px;
}

#agreement {
    width: 24px;
    height: 24px;
}

input::-webkit-input-placeholder{
    position: relative;
}

input:focus::-webkit-input-placeholder{
position: absolute;
}